.browser {
    height: 660px;
    padding-top: 108px;
    position: relative;
    background-color: #f6f5f3;

    &__title {
        margin-bottom: 40px;
    }

    &__description {
        display: block;
        margin: 0 auto;
        width: 665px;
        text-align: center;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}